@charset "utf-8";

body
    {
        margin: 10px;
        padding: 5px;
        background-color: orange;
        font-family: Arial, Helvetica, "sans-serif";
        font-size: 18px;
        text-align: center;
    }

h1
    {
        color: brown;
        font-size: 50px;
        text-decoration: underline;;
    }

p
    {
        text-decoration: italic;
        color:white;
        background-color: darkcyan;
    }

img
    {
        border: double 10px brown;
        background-color: black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
